{% extends "base.html" %}

{% block content %}

<form action="/login" method="get">
    <a href="/Users/DWAYNE/desktop/My-Homepage-App/templates/login.html">
        <button class="button" style="float:right">Login</button>
    </a>
</form>
        <br>
        <br>
        <br>
    <center>
        <a href="index.html">
        <img src="static/Images/BlueGreenLogo.png"
        height="300" width ="300" >
    </a>

<h1 class="header">Signup</h1>

<!-- method should be post for form submission -->
<form action= "/mylinks" method="get">
    <table>
        <tr>
            <td><label for="username">Username</label></td>
            <td>
                <input name="username" type="text" value="">
                <span class="error"></span>
            </td>
        </tr>
        <tr>
            <td><label for="password">Password</label></td>
            <td>
                <input name="password" type="password">
                <span class="error"></span>
            </td>
        </tr>
        <tr>
            <td><label for="verify">Verify Password</label></td>
            <td>
                <input name="verify" type="password">
                <span class="error"></span>
            </td>
        </tr>
        <tr>
            <td><label for="email">Email (optional)</label></td>
            <td>
                <input name="email" type="email" value="">
                <span class="error"></span>
            </td>
        </tr>
    </table>
    <!-- <input type="submit" class="submit">-->
    <button class="submit">Submit</button>
</form>


    <br>
    <br>
    <br>

<footer>&copy; 2017, Created by <a href="https://www.darrellthedeveloper.com/" style="float:bottom">DarrellTheDeveloper.com</a></footer>
</center>

{% endblock %}
