<!DOCTYPE HTML5>
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" type="text/css" href="static/CSS/styles.css"/>

    </head>

<body>
    <form action="/signup" method= "get">
        <a href="/Users/DWAYNE/desktop/My-Homepage-App/templates/index.html">
            <button class="button" style="float:right";>Signup</button>
        </a>
    </form>
            <br>
            <br>
            <br>
    <center>
        <a href="/login">
            <img src="static/Images/BlueGreenLogo.png" height="300" width ="300" >
    </a>
        <hr />
    <h1 class="header">Login</h1>

<form action= "/login" method="post">
    <table>
        <tr>
            <td><label for="email">Email:</label></td>
            <td>
                <input name="email" type="email" value="{{email}}">
                <span class="error"></span>
            </td>
        </tr>
        <tr>
            <td><label for="password">Password:</label></td>
            <td>
                <input name="password" type="password">
                <span class="error"></span>
            </td>
        </tr>
    </table>
    <button class="submit" value="Login">Submit</button>
</form>
<p>Don't have an account?<a href="/signup">Signup</a> for one!</p>
    <br>
    <br>
    <br>

<footer>&copy; 2017, Created by <a href="https://www.darrellthedeveloper.com/" style="float:bottom">DarrellTheDeveloper.com</a></footer>
</center>
</body>
</html>
