<!DOCTYPE HTML5>
<html>
    <head>
        <title>My Homepage App</title>
        <link rel="stylesheet" type="text/css" href="/Users/DWAYNE/Desktop/My-Homepage-App/CSS/stylesheet.css"/>
    </head>

<body>
    <button type="button" class="button" style="float:right";>Signup</button></h3>
    <br>
    <br>
    <br>
    <center>
        <a href="index.html">
        <img src="file:///Users/DWAYNE/Desktop/My-Homepage-App/Images/BlueGreenLogo.png"
        height="350" width ="350" >
    </a>

    <h1 class="header">Login</h1>
<form method="post">
    <table>
        <tr>
            <td><label for="username">Username</label></td>
            <td>
                <input name="username" type="text" value="">
                <span class="error"></span>
            </td>
        </tr>
        <tr>
            <td><label for="password">Password</label></td>
            <td>
                <input name="password" type="password">
                <span class="error"></span>
            </td>
        </tr>
    </table>
    <input type="submit" class="submit">
</form>
    <br>
    <br>
    <br>

<footer>&copy; 2017, Created by <a href="https://www.darrellthedeveloper.com/" style="float:bottom">DarrellTheDeveloper.com</a></footer>
</center>
</body>
</html>
