<!DOCTYPE HTML5>
<html>
    <head>
        <title>My Links</title>
            <link rel="stylesheet" type="text/css" href="static/CSS/styles.css"/>
    </head>

<body>

<form action="/logout" method= "get">
    <button class="button" style="float:right";>Logout</button>
</form>
<br>
<br>
<br>
    <center>
        <a href="/">
            <img src="static/Images/BlueGreenLogo.png" height="300" width ="300" >
        </a>

        <h1 class="header">Welcome, {{username}}!</h1>
<hr />
<form action='/' method= 'post'>
    <p>
        <label for="addlink">
            Enter the URL:
            <input id ="addlink" name="link" type="text" >
        </label>

        <input class="button" type="submit" value="Add Your Link!" />
<hr />
    </p>
</form>

    <div>
        <h3>My Links</h3>

            {% if links|length == 0 %}
            <p>You haven't added any links yet!</p>
            {% else %}
                <l>
                    {% for link in links %}

                 <li><a href=""> {{link.name}} </a>
                     <form method = "POST" action = "/delete-link" style = "display: inline-block;">
                         <input type = "hidden" name = "link-id" value = {{link.id}} />
                         <input type = "submit" value = "Delete">
                     </form>
                </li>

                    {% endfor %}
                </l>

            {% endif %}


        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    <footer>&copy; 2017, Created by <a href="https://www.darrellthedeveloper.com/" style="float:bottom">DarrellTheDeveloper.com</a></footer>
    </center>
</body>
</html>
